<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @use.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @use.description %>
</p>

<%= link_to 'Edit', edit_use_path(@use) %> |
<%= link_to 'Back', uses_path %>
