<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @instance.server_id %>
</p>

<p>
  <strong>Istance:</strong>
  <%= @instance.name %>
</p>

<p>
  <strong>Port:</strong>
  <%= @instance.port %>
</p>

<p>
  <strong>Note:</strong>
  <%= @instance.note %>
</p>

<p>
  <strong>Check:</strong>
  <%= @instance.check %>
</p>
