<div class="col-md-12">
<%= render 'header' %>
<table class="table table-striped table-condensed table-hover">
  <tbody>
    <% @instances.each do |instance| %>
      <% unless instance.server.ip == @rottura %>
      <tr>
        <th class="panel-light"><%= instance.server.description %></th>
        <th class="panel-light"><%= instance.server.name %></th>
        <th class="panel-light"><%= instance.server.ip %></th>
        <th class="panel-light">
          <% if instance.server.manage %>
            <span class="label label-success">Gestito</span>
          <% else %>
            <span class="label label-danger">Non Gestito</span>
          <% end %>
        </th>
        <th class="panel-light"><%= unless instance.server.use.nil?; instance.server.use.description; end %></th>
        <th class="panel-light"><%= unless instance.server.type.nil?; instance.server.type.description; end %></th>
      </tr>
      <% @rottura = instance.server.ip %>
      <tr>
        <th class="panel-lispa"><%= t('activerecord.attributes.instance.service') %></th>
        <th class="panel-lispa"><%= t('activerecord.attributes.instance.service_type') %></th>
        <th class="panel-lispa"><%= t('activerecord.attributes.instance.name') %></th>
        <th class="panel-lispa"><%= t('activerecord.attributes.instance.port') %></th>
        <th class="panel-lispa"><%= t('activerecord.attributes.instance.note') %></th>
        <th class="panel-lispa"><%= t('activerecord.attributes.instance.check') %></th>
      </tr>
      <% end %>
      <tbody>
      <tr>
        <td><span class="glyphicon glyphicon-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</span><%= unless instance.service.nil?; link_to instance.service.description, instance.service.card; end %></td>
        <td><%= unless instance.service_type.nil?; instance.service_type.code; end %></td>
        <td><%= instance.name %></td>
        <td><%= instance.port %></td>
        <td><%= instance.note %></td>
        <td>
          <% if instance.check %>
            <span class="label label-success">Sì</span>
          <% else %>
            <span class="label label-danger">No</span>
          <% end %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </tbody>
</table>
</div>
