<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @service_type.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_type.description %>
</p>

<%= link_to 'Edit', edit_service_type_path(@service_type) %> |
<%= link_to 'Back', service_types_path %>
